#update_list{
    display:none;
}

#cancel_update{
    display:none;
}

.class-text{
    text-align: center;
}


.jumbotron {
background-image: url("https://cdn.hotelplanner.com/Common/Images/_HotelPlanner/Home-Page/fade/sld6.jpg");
background-size: cover;
height: 100%;
}

#listing{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

#header_message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

#show_list{
    background-color:skyblue;
    border-radius: 15px;
}

.view_hotel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    border-radius: 15%;
    background-color: tomato;
}

.edit_hotel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    border-radius: 15%;
    background-color: skyblue;
}
.delete_hotel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    border-radius: 15%;
    background-color: red
}

#form_page{
    border-radius: 2%;
    border: 1px skyblue solid;
    padding: 5px;

}