#update_list{
    display:none;
}

#cancel_update{
    display:none;
}

.class-text{
    text-align: center;
}


.jumbotron {
background-image: url("https://cdn.hotelplanner.com/Common/Images/_HotelPlanner/Home-Page/fade/sld6.jpg");
background-size: cover;
height: 100%;
}

#listing{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

#header_message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}